[Unit]
Description=Harbor Job Service
After=network.target

[Service]
User=harbor
Group=harbor
EnvironmentFile=/etc/harbor/jobservice/env
ExecStart=/opt/harbor/jobservice/harbor_jobservice -c /etc/harbor/jobservice/config.yml
WorkingDirectory=/opt/harbor/jobservice

[Install]
WantedBy=multi-user.target
