[Unit]
Description=Harbor Core Service
After=network.target

[Service]
User=harbor
Group=harbor
EnvironmentFile=/etc/harbor/core/env
ExecStart=/opt/harbor/core/harbor_core
WorkingDirectory=/opt/harbor/core/
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
