[Unit]
Description=Harbor Clair Scanning Service
PartOf=harbor.service
After=harbor.service

[Service]
User=harbor
Group=harbor
EnvironmentFile=/etc/harbor/clair-adapter/env
ExecStart=/opt/harbor/clair-adapter/clair-adapter
WorkingDirectory=/opt/harbor/clair-adapter

[Install]
WantedBy=harbor.service
