[Unit]
Description=Harbor Registry Control
PartOf=harbor.service
After=harbor.service

[Service]
User=harbor
Group=harbor
ExecStart=/opt/harbor/registryctl/harbor_registryctl -c /etc/harbor/registryctl/config.yml
WorkingDirectory=/opt/harbor/registryctl

[Install]
WantedBy=harbor.service
