[Unit]
Description=Harbor Registry
PartOf=harbor.service
After=harbor.service

[Service]
User=harbor
Group=harbor
ExecStart=/opt/harbor/registry/registry serve /etc/harbor/registry/config.yml
WorkingDirectory=/opt/harbor/registry

[Install]
WantedBy=harbor.service
