[Unit]
Description=Harbor Job Service
PartOf=harbor.service
After=harbor.service

[Service]
User=harbor
Group=harbor
EnvironmentFile=/etc/harbor/jobservice/env
ExecStart=/opt/harbor/jobservice/harbor_jobservice -c /etc/harbor/jobservice/config.yml
WorkingDirectory=/opt/harbor/jobservice

[Install]
WantedBy=harbor.service
