[Unit]
Description=Harbor Chart Server
PartOf=harbor.service
After=harbor.service

[Service]
EnvironmentFile=/etc/harbor/chartserver/env
User=harbor
Group=harbor
ExecStart=/opt/harbor/chartserver/chartm
WorkingDirectory=/opt/harbor/chartserver

[Install]
WantedBy=harbor.service
